<a href="https://colab.research.google.com/github/redouane-b/Q_learning/blob/main/Graph_Q_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Application de l'algorithme Q learning sur un graphe**

In [ ]:
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
import random as rd
import pandas as pd

## Graphe

### Création du graphe

In [ ]:
T=nx.Graph()

T.add_edges_from([(0,1),(0,2),(1, 2), (1, 3),(3,4),(4,7),
(4,5),(5,6),(7,6),(2,6),(2,4),(3,8),(8,10),(7,10),(8,7),
(8,9),(9,10),(6,11),(7,11),(10,11),(10,12),(11,12)])

### Affichage du graphe

In [ ]:
def afficher(T):
  pos = nx.spring_layout(T,seed=7)
    
  nx.draw_networkx_nodes(T, pos, node_size=200,nodelist=[0],node_color="c")
  nx.draw_networkx_nodes(T, pos, node_size=200,nodelist=[12],node_color="c")
  nx.draw_networkx_nodes(T, pos, node_size=200,nodelist=[4,6,10],node_color="r")
  nx.draw_networkx_nodes(T, pos, node_size=200,nodelist=[1,2,3,5,7,8,9,11],node_color='#79b6fb')
  nx.draw_networkx_labels(T, pos, font_size=10, font_family="sans-serif")
  nx.draw_networkx_edges(T, pos, edge_color="k",width=2)

  plt.show()

## Algorithme Q learning

### Création de la matrice récompense

In [ ]:
R=np.array(np.zeros(shape=(13,13)))
for x in T[12]:
    R[x,12]=100
for i in [4,6,10]:
    for x in T[i]:
        R[x,i]=-100

NameError: ignored

In [ ]:
pd.DataFrame(R)

NameError: ignored

### Création de la Q table

In [ ]:
Q=np.array(np.zeros(np.shape(R)))
Q-=100
for sommet in T.nodes:
    for x in T[sommet]:
        Q[sommet,x]=0
        Q[x,sommet]=0

In [ ]:
pd.DataFrame(Q)

       0      1      2      3      4   ...     8      9      10     11     12
0  -100.0    0.0    0.0 -100.0 -100.0  ... -100.0 -100.0 -100.0 -100.0 -100.0
1     0.0 -100.0    0.0    0.0 -100.0  ... -100.0 -100.0 -100.0 -100.0 -100.0
2     0.0    0.0 -100.0 -100.0    0.0  ... -100.0 -100.0 -100.0 -100.0 -100.0
3  -100.0    0.0 -100.0 -100.0    0.0  ...    0.0 -100.0 -100.0 -100.0 -100.0
4  -100.0 -100.0    0.0    0.0 -100.0  ... -100.0 -100.0 -100.0 -100.0 -100.0
5  -100.0 -100.0 -100.0 -100.0    0.0  ... -100.0 -100.0 -100.0 -100.0 -100.0
6  -100.0 -100.0    0.0 -100.0 -100.0  ... -100.0 -100.0 -100.0    0.0 -100.0
7  -100.0 -100.0 -100.0 -100.0    0.0  ...    0.0 -100.0    0.0    0.0 -100.0
8  -100.0 -100.0 -100.0    0.0 -100.0  ... -100.0    0.0    0.0 -100.0 -100.0
9  -100.0 -100.0 -100.0 -100.0 -100.0  ...    0.0 -100.0    0.0 -100.0 -100.0
10 -100.0 -100.0 -100.0 -100.0 -100.0  ...    0.0    0.0 -100.0    0.0    0.0
11 -100.0 -100.0 -100.0 -100.0 -100.0  ... -100.0 -100.0    0.0 -100.0    0.0
12 -100.0 -100.0 -100.0 -100.0 -100.0  ... -100.0 -100.0    0.0    0.0 -100.0

[13 rows x 13 columns]

### Choix de l'action entre exploration et exploitation

In [ ]:
def action(debut,eps):
    if rd.random()<eps:
        action= np.random.choice(T[debut])
    else:
        action= np.argmax(Q[debut,])
    return action

### Mise à jour de la matrice Q

In [ ]:
def updateQ(sommet1,sommet2,lr, gamma):
    maximum=np.argmax(Q[sommet2])
    Q[sommet1,sommet2]+=lr*(R[sommet1,sommet2]+gamma*maximum-Q[sommet1,sommet2])

### Boucle de l'apprentissage

In [ ]:
def apprentissage(eps,lr,gamma):
    for i in range(10000):
        debut=rd.randint(0,12)
        prochain=action(debut,eps)
        updateQ(debut,prochain,lr,gamma)

### Temps de calcul

In [ ]:
import time
début = time.time()
apprentissage(0.4,0.1,0.8)
fin = time.time()
print((fin - début),"s")

0.24384284019470215 s

### Matrice Q après execution

In [ ]:
pd.DataFrame(Q)

            0           1           2   ...          10          11     12
0  -100.000000    2.400000    0.800000  ... -100.000000 -100.000000 -100.0
1     0.799993 -100.000000    0.799925  ... -100.000000 -100.000000 -100.0
2     0.799990    2.400000 -100.000000  ... -100.000000 -100.000000 -100.0
3  -100.000000    2.399943 -100.000000  ... -100.000000 -100.000000 -100.0
4  -100.000000 -100.000000    0.799825  ... -100.000000 -100.000000 -100.0
5  -100.000000 -100.000000 -100.000000  ... -100.000000 -100.000000 -100.0
6  -100.000000 -100.000000    0.799873  ... -100.000000    9.600000 -100.0
7  -100.000000 -100.000000 -100.000000  ...  -90.293417    9.600000 -100.0
8  -100.000000 -100.000000 -100.000000  ...  -90.358748 -100.000000 -100.0
9  -100.000000 -100.000000 -100.000000  ...  -90.399985 -100.000000 -100.0
10 -100.000000 -100.000000 -100.000000  ... -100.000000    9.588818  108.8
11 -100.000000 -100.000000 -100.000000  ...  -90.382225 -100.000000  108.8
12 -100.000000 -100.000000 -100.000000  ...  -90.399952    9.600000 -100.0

[13 rows x 13 columns]

### Application de la Q table pour trouver le chemin maximisant la récompense

In [ ]:
def chemin(initial,final):
    chemin=[initial]
    prochain=np.argmax(Q[initial,])
    chemin.append(prochain)
    while prochain != final:
        prochain=np.argmax(Q[prochain,])
        chemin.append(prochain)
    return chemin

### Affichage du chemin optimale

In [ ]:
chemin(0,12)

[0, 1, 3, 8, 7, 11, 12]

In [ ]:
afficher(T)

NameError: ignored